<div class="row">
  <div class="col-12 mt-5">
    <h1 class="display-4">Giỏ Hàng</h1>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Hình Ảnh</th>
          <th>Sản Phẩm</th>
          <th>Giá</th>
          <th>Số Lượng</th>
          <th>Tổng Cộng</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr app-cart-item></tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="font-size:30px" class="font-weight-bold">Tổng Tiền</td>
          <td style="font-size:30px" class="font-weight-bold">15$</td>
          <td>
            <button style="font-size:30px" class="btn btn-info">
              Thanh Toán
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
